@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./mixins";

header {
    padding: 25px 0;
    background-color: rgb(43, 43, 43);
    h1 {
        color: whitesmoke;
    }
}

main {
    .in-time {
        width: 20px;
        height: 20px;
        background-color: green;
        border-radius: 50%;
    }

    .not-in-time {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
    }

    .table {
        border: 2px solid black;
    }
}